<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include('../navbar/adminNavbarView.ejs') %>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <div class="title">Edit</div>
            <label for="title">Title:</label><br>
            <input class="input-field" type="text" id="title" name="title" value="<%= blogPost.title %>"><br>
            <label for="category">Category:</label><br>
            <input class="input-field" type="text" id="category" name="category" value="<%= blogPost.category %>"><br>
            <label for="example">Example:</label><br>
            <textarea class="input-text" type="text" id="example" name="example"><%= blogPost.example %></textarea><br>
            <br>
            <div class="container">
                <img class="img-show" src="<%= blogPost.image %>" alt="image" class="image">
            </div>
            <br>
            <label for="image">Image:</label><br>
            <input class="input-img" type="file" id="image" name="image"><br>
            <label for="creator">Creator:</label><br>
            <input class="input-field" type="text" id="creator" name="creator" value="<%= blogPost.creator %>"><br>
            <label for="text">Text:</label><br>
            <textarea class="input-text" id="text" name="text"><%= blogPost.text %></textarea><br>
            <input class="save-btn" type="submit" value="Submit" onclick="save()">
            <a id="id" style="display: none"><%= blogPost.id %></a>
        </div>
    </div>
</body>
<script>
    function save() {
        var title = document.getElementById("title").value;
        var category = document.getElementById("category").value;
        var example = document.getElementById("example").value;
        var image = document.getElementById("image").files[0];
        var creator = document.getElementById("creator").value;
        var text = document.getElementById("text").value;
        var id = document.getElementById("id").innerHTML;
        id = parseInt(id);
        
        var formData = new FormData();
        formData.append('id', id);
        formData.append('title', title);
        formData.append('category', category);
        formData.append('example', example);
        formData.append('image', image);
        formData.append('creator', creator);
        formData.append('text', text);

        fetch('/updatePost', {
            method: 'POST',
            body: formData 
        })
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            window.location.href = '/admin';
        });
    }
</script>
</html>