<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/singleBlog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include('../navbar/navbarView.ejs') %>
        <br>
        <br>
        <div class="container">
            <div class="card">

                <div class="date">
                    <%= blogPost.date %>
                </div>
                <div class="title">
                    <%= blogPost.title %>
                </div>
                <div class="title-text">
                    <%= blogPost.example %>
                </div>
                <br>
                <div class="container">
                    <img class="card-img" src="<%= blogPost.image %>" alt="image" class="image">
                    <div class="creator">
                        <%= blogPost.creator %>
                    </div>
                </div>
                <div class="title-text first-letter-big">
                    <%= blogPost.text %>
                </div>
                <br>
                <a class="back-btn" onclick="window.location.href = '/blog'">Zurück</a>
                <br>
                <br>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</body>